{
    "Servers": {
      "1": {
        "Name": "{{ pg_admin_init_config_name }}", 
        "Group": "{{ pg_admin_init_config_group }}",
        "Host": "{{ pg_admin_init_config_host }}", 
        "Port": "5432" ,
        "MaintenanceDB": "postgres", 
        "Username": "{{ pg_admin_init_config_username }}",
        "SSLMode": "prefer"
      }
    }
}
  